.main{
    background-image: url("./main.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height:800px;
    
}
.content{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 700px;
    text-align: center;
}
.content h2{
    font-family: monospace;
    font-weight: 1000;
    font-size: 70px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.content h1{
    font-size:110px;
    text-align: center;
    font-family:Helvetica;

}
.content h3{
    font-weight:bold;
    font-family:sans-serif;
    color: rgb(16, 13, 19);
}
.content h5{
    color: rgb(6, 6, 7);
    padding-top: 40px;
}
.content button{
    margin-top: 70px;
    width: 175px;
    height: 50px;
    background-color:rgb(24, 2, 75);
    border-color: rgb(6, 11, 27);
    font-weight:500;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    color: rgb(137, 129, 146);
    
}

.login {
    
    font-family:Georgia;
    font-weight: bolder;  
    text-align:center;
    
}
.login{
  
  background-color: rgb(197, 233, 240);
  /*border:5px solid rgb(17, 14, 14);*/
  
  object-position:center;
  align-content: center;
  opacity: 0.6;
  width: 600px;
  height: 600px;
  padding: 0px 30px 30px 30px;
  font-style: italic;
  
}
.login h1{
    text-align: center;
    font-weight: bolder;
    color: black;
    padding-top: 100px;
    padding-bottom: 50px;
 
}
.login label {
    margin: 2%;
    color:rgb(29, 5, 5);
    padding-top: 0%;
    font-weight:bolder;
    text-align: center;
    font-size:x-large;
    white-space: unset;
    margin-top: 30px;
}
.login button{
    font-weight:bolder;
    text-align: center;
    font-size: x-large;
    margin-top: 40px;
    border-radius: 5px;
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    width: 150px;
    
}
.background{
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover; 
    height: 800px;
}
/*Application page*/
